/scite415/scite/win32/.vs
/scite415/scite/win32/Debug
/scite415/scite/win32/Release
/scite415/scite/win32/x64
/scite415/scintilla/win32/.vs
/scite415/scintilla/win32/x64
/scite415/scintilla/win32/Debug
/scite415/scintilla/win32/Release
/x64
/Win32
/scite415/scintilla/win32/Win32
/.vs
/Debug64
/scite415/scite/win32/SciTE
